[2020-09-15 23:32] nakabonne opened #1 "Support more options for HTTP requests"
- [x]  int workers
- [x]  int maxWorkers
- [x]  int connections
- [ ]  ~int maxConnections~
- [x]  int maxBody
- [x]  string localAddr
- [ ]  string unixSocket
- [ ]  string proxyHeader
- [ ]  bool chunkedBody
- [x]  bool keepAlive
- [x]  bool HTTP2
- [ ]  bool H2C

[2020-09-15 23:35] nakabonne opened #2 "Plot more metrics in real-time"
It would be nice if it's able to press `Ctrl-i` to switch between charts.
- [x] Plot 50th, 90th, 95th, and 99th percentiles #66
- [ ] Bytes In and Bytes Out
- [ ] Status Codes
- [ ] Histogram #63
- [ ] ~Workers running in concurrent~

[2020-09-17 02:49] nakabonne opened #3 "Better input fields"
To support more options, need to be expandable.

- [ ] ~Make a modal or something else~
  - Using another container makes it complicated
- [ ] Make it possible to move fields with the Tab key.

[2020-09-21 01:00] nakabonne opened #5 "Panic when sending a body, running via docker"
I'm getting a panic when trying to send a body, using the docker image.

[2020-09-21 04:03] amalshaji opened #6 "Invisible text in WSL2"
I can type, but the text is invisible

![notext](https://user-images.githubusercontent.com/18011385/93732110-78c1a900-fbed-11ea-8d30-464838958c9f.PNG)

[2020-09-22 00:31] nakabonne commented on #6
@amalshaji Hi, thanks for reporting! If your terminal size less than a certain amount of cells, it wouldn't be drawn until the terminal size increases. Would it be possible to stretch your terminal vertically?

[2020-09-22 02:09] #5 closed

[2020-09-22 03:59] amalshaji commented on #6
Yup. Working on a full screen.

[2020-09-22 05:53] nakabonne commented on #6
Glad to hear that.

[2020-09-22 05:53] #6 closed

[2020-09-29 09:11] AndreasHerold opened #20 "Requestparameter as cli options"
Hey,

please add the feature to add cli options for the http(s) requests like
`ali --targeturl=http://www.foo.bar --duration=10 --timeout=30 `
an so on.
Thank you.

[2020-09-29 22:53] nakabonne commented on #20
@AndreasHerold Hey, thanks for your suggestion! Yup, you have a point, I'm feeling the same way. I feel setting with the input fields to be difficult to use, so I put it in the roadmap to only support input through flags (updated README just now).

[2020-09-30 02:08] fkfgq2008 opened #21 "Concurrent requests"
Excuse me?

How does this tool test 500 concurrent requests for URLs? You need to look at those parameters

[2020-09-30 12:20] nakabonne commented on #21
@fkfgq2008 Hi, It's not possible to fix the number of workers running in concurrent. Instead in the near future, it will be able to specify the initial number of workers and the maximum number of workers (https://github.com/nakabonne/ali/issues/1).

[2020-09-30 13:30] AndreasHerold commented on #20
@nakabonne Thank you for your feedback.
To make things easier I think it is better to you the JSONTargeter instead of the StaticTargeter. With that you just have to pass a file with all the request parameters (method, header, url, body).
Or you provide both methods.
Maybe I can implement it by myself later this week.

[2020-09-30 23:07] nakabonne commented on #20
It would be a nice idea to give the request params by passing a file. Seems better to add support for both ways.

I'm now implementing the CLI options support, so please wait until it is completed ;)

[2020-10-01 10:16] nakabonne opened #23 "Panic when stopping infinite attack"
[code]

[2020-10-01 10:18] nakabonne commented on #20
@AndreasHerold Hey, cli options are now available at [v0.3.0](https://github.com/nakabonne/ali/releases/tag/v0.3.0)! It would be nice if you could try it.

[2020-10-01 20:02] brenol opened #24 "support multiple headers"
Love this project. I'm already starting to work on multiple headers and I'll open a PR soon if you have no problem with this functionality.

[2020-10-01 20:51] brenol commented on #23
It's happening because of:
[code]

[2020-10-01 23:18] nakabonne commented on #24
Closing since this was resolved with https://github.com/nakabonne/ali/pull/25 created by @brenol.

[2020-10-01 23:18] #24 closed

[2020-10-02 00:05] nakabonne opened #27 "Support workers options"
- [ ] Enable to specify the initial number of workers by giving `-w`or `--workers`
- [ ] Enable to specify the maximum number of workers by giving `-W`or `--max-workers`

Only tiny changes are required because all we have to do is just pass to the Vegeta API.

[2020-10-02 00:10] nakabonne opened #28 "Support connections options"
- [ ] Enable to specify maximum open idle connections per target host by giving `-c`or `--connections`

Only tiny changes are required because all we have to do is just pass to the Vegeta API.

[2020-10-02 00:12] nakabonne opened #29 "Support HTTP2 option"
- [ ] Make it possible to switch to send HTTP/2 requests when supported by the server

Only tiny changes are required because all we have to do is just pass to the Vegeta API.

[2020-10-02 00:13] nakabonne opened #30 "Support keepalive options"
- [ ] Enable to switch to use persistent connections

Only tiny changes are required because all we have to do is just pass to the Vegeta API.

[2020-10-02 00:26] nakabonne opened #31 "PPA for Ubuntu-based systems"
ali is published as a .deb package, but for long-term use, where one would like to get updates as part of system maintenance so that we easily have an up-to-date version.

We need to look into how to do automatic updates during general usage, e.g. in CI.

[2020-10-02 00:31] nakabonne commented on #3
Closing since the field-based configuration has been eliminated.

[2020-10-02 00:31] #3 closed

[2020-10-02 00:36] nakabonne opened #32 "Support max body option"
- [ ] Enable to set maximum number of bytes to capture from response bodies, by giving `-B` or `--max-body`.

Only tiny changes are required because all we have to do is just pass to the Vegeta API.

[2020-10-02 03:17] brenol opened #33 "modify others text for better reading"
This is actually a question.

Perhaps Earliest/Latest/End shouldn't use String() for a time.Time. It gets noisy when you have a timezone (because of Monotonic):
![image](https://user-images.githubusercontent.com/7342697/94883416-00ef4c00-0441-11eb-832d-204c0f9be904.png)

Perhaps we can use time.RFC3339Nano?

![image](https://user-images.githubusercontent.com/7342697/94884076-d2727080-0442-11eb-9fb

[2020-10-02 03:18] brenol commented on #33
We can also remove the timezone. The user probably knows the timezone they are in? (unless they are running in a server...)

[2020-10-02 03:35] brenol opened #34 "zoom: undo with right click?"
Took me sometime to notice we can undo a Zoom with the mouse scroll (why? Not sure. Perhaps documentation in the README will do), but I thought that we can simulate zoom-outs with a mouse right click.

Does it make sense to you? (Zoom in with selection; zoom out with right click)

[2020-10-02 03:37] brenol opened #35 ""high" CPU usage while idle"
it's using 20% CPU while idle here (because of termdash.RedrawInterval).

Perhaps we can use termdash.NewController and only redraw after 250ms, while its running (this will probably bring a lot of complexity?)?

[2020-10-02 05:26] #23 closed

[2020-10-02 13:38] AndreasHerold commented on #20
Hey @nakabonne thank you for your work. Works finde except from time to time there is a crash but unfortunatly I'm not able to fetch the stack trace because my shell breaks too :-(
The only way for me is to send you a screenshot
![image](https://user-images.githubusercontent.com/8049475/94929309-33db2380-04c5-11eb-8013-25f19aead7f7.png)

[2020-10-02 14:14] ilmanzo opened #36 "go test fails"
[code]

[2020-10-02 23:14] #36 closed

[2020-10-02 23:45] nakabonne commented on #34
@brenol Sorry, I know currently mousing documents are missing. You can undo the zoomed chart by scrolling down. And I'd say we cannot undo it with right-click due to the limitations of [termdash](https://github.com/mum4k/termdash).

[2020-10-02 23:58] nakabonne commented on #35
I'd say what RedrawInterval is being constant is a problem as well. To make it changeable, I'm considering to support the `--redraw-interval` option.

[2020-10-03 00:00] nakabonne opened #39 "Make redraw interval changeable"
What RedrawInterval is being constant is a problem. Support the `--redraw-interval` option to make it configurable.

[2020-10-03 00:01] nakabonne commented on #35
I just opened an issue about it https://github.com/nakabonne/ali/issues/39

[2020-10-03 00:10] brenol commented on #34
Actually, we can:
[code]

It's not perfect, but it can work...

[2020-10-03 00:22] brenol commented on #2
What do you think about we clicking on each option and showing them (changing the current line chart?)?

I wish we had tabs on termdash, but it doesn't have tabs unfortunately :(

[2020-10-03 00:23] nakabonne commented on #33
@brenol Thanks for the suggestion, this is actually the problem that I've put off in the long-term.

The pattern without `millis/nanos` looks good. And I also think every field should be aligned.

[2020-10-03 00:26] nakabonne commented on #33
It would be great if you work on it and open a PR ;)

[2020-10-03 00:50] Vortex2wenty commented on #39
Hi, I would like to claim this issue. Thanks.

[2020-10-03 01:30] nakabonne commented on #20
@AndreasHerold Thanks for reporting! Could you please open a new issue with the screenshot and the way to repro it?

[2020-10-03 01:31] nakabonne commented on #20
Closing since cli options are now supported.

[2020-10-03 01:31] #20 closed

[2020-10-03 12:02] cvhariharan commented on #30
Hi, I can pick this up if this is still open :smile:

[2020-10-04 00:43] #32 closed

[2020-10-04 00:50] nakabonne commented on #30
@cvhariharan Hi, glad you're interested in it! That would be nice, look forward to your PR.

[2020-10-04 01:03] nakabonne commented on #34
Wow, you're right, I wasn't sure that! But to be honest, I don't want to make it as complicated as possible. I'd say it's enough to undo with scrolling down.

[2020-10-04 02:08] brenol commented on #34
Np, I'll close this one then :)

[2020-10-04 02:08] #34 closed

[2020-10-04 04:46] nakabonne commented on #30
Closing since this is resolved by #43

[2020-10-04 04:46] #30 closed

[2020-10-04 23:33] nakabonne commented on #27
Closing since this is resolved by #44

[2020-10-04 23:33] #27 closed

[2020-10-06 12:14] #33 closed

[2020-10-06 12:58] #28 closed

[2020-10-06 13:09] shubham14bajpai commented on #29
Hi @nakabonne I would like to work on this. The changes would be as simple as
[code]
in the below file. Right? Just wanted to make sure I understand the changes required before raising a PR. https://github.com/nakabonne/ali/blob/fb9a8397e53c8647a3ab6d95d5f8e5c7be3c115f/attacker/attacker.go#L75

[2020-10-06 13:41] nakabonne commented on #29
@shubham14bajpai

Exactly. All we have to do is just pass the value received from the flag to vegeta. Look forward to your PR!

[2020-10-06 14:02] shubham14bajpai commented on #29
@nakabonne I have raised a PR for the same https://github.com/nakabonne/ali/pull/49

[2020-10-07 01:05] nakabonne opened #50 "Support local address option"
- [ ] Make it possible to specify the local address used with the requests by passing `--local-addr`

Only tiny changes are required because all we have to do is just pass to the Vegeta API.

[2020-10-07 07:24] nakabonne opened #51 "Disregard for outliers"
Even one outlier makes it difficult to analyze the other parts. It would be nice to be able to ignore outliers by specifying a percentile.

![Screenshot](https://user-images.githubusercontent.com/19730728/95299636-ff96a700-08b8-11eb-91e6-981212a2a67f.png)

[2020-10-07 09:14] nakabonne opened #52 "Closing metrics channel"
Because of a closed channel before the function returns, there is a certain probability of panic:
https://github.com/nakabonne/ali/blob/fd4e04b5d89b07f0e788ffe5dcd9d0f8fd713075/gui/drawer.go#L104

This is for waiting until the expected method is called in a goroutine in the unit test.
https://github.com/nakabonne/ali/blob/fd4e04b5d89b07f0e788ffe5dcd9d0f8fd713075/gui/drawer_test.go#L264

We need an

[2020-10-07 10:54] shubham14bajpai commented on #50
@nakabonne This also requires similar changes? If possible you can list all the required flags and I would like to work on all of them in a single PR.

[2020-10-07 13:09] rmgmediaval opened #53 "Unable to install with "brew install nakabonne/ali/ali""
I noticed this when installing:
[code]

[2020-10-07 23:21] nakabonne commented on #53
@rmgmediaval Hi, thank you for reporting! According to [Homebrew's documentation](https://docs.brew.sh/Taps#formula-with-duplicate-names), the way to use fully qualified names seems to be recommended. And in my local machine, it actually works at Homebrew v2.5.2:
[code]

Could you let me know what version do you use?

[2020-10-07 23:26] nakabonne commented on #50
@shubham14bajpai Sure, all of them need similar changes. But to be honest, I haven't been able to determine what options to support accurately yet.

[2020-10-08 12:29] rnevius commented on #53
This appears to be a problem with homebrew 2.5.3: https://github.com/ChargePoint/xcparse/issues/54

[2020-10-08 12:54] #52 closed

[2020-10-08 12:55] nakabonne commented on #50
This is resolved by #54

[2020-10-08 12:55] #50 closed

[2020-10-08 12:56] nakabonne commented on #29
Closing since this was resolved by #49

[2020-10-08 12:56] #29 closed

[2020-10-08 13:08] rmgmediaval commented on #53
I have Homebrew v 2.5.3

[2020-10-08 13:20] nakabonne commented on #53
@rnevius Thanks for the valuable information!

@rmgmediaval Can you try to update it and see if you can install it?

[2020-10-08 13:33] rmgmediaval commented on #53
@nakabonne I think there is a small misunderstanding. I was able to install ali when I posted my initial comment (see above).
I just thought I'd help by letting you know that I wasn't able to do it with qualified names. I simply wasn't aware it was because of my homebrew version.

Furthermore, I updated my homebrew installation and tried installing the cask the way it's described in the README. It

[2020-10-09 02:43] nakabonne opened #57 "Vegeta causes panic at high rates"
Run the following:
[code]

Then panic occurred.
The noteworthy stack traces are:
- tsenart/vegeta/v12/lib/attack.go:340
- tsenart/vegeta/v12/lib/attack.go:312

![image](https://user-images.githubusercontent.com/19730728/95535815-5967b000-0a24-11eb-9525-f6cd9791614b.png)

[2020-10-09 08:25] jackey925 commented on #57
It happened to me, too
How to solve that problem

[2020-10-09 12:43] agoddard commented on #53
Tested this on 2.5.5, and it works fine now, the problem was introduced in homebrew 2.5.3 and fixed in 2.5.4 https://github.com/Homebrew/brew/pull/8875

[2020-10-10 00:26] nakabonne commented on #53
@rmgmediaval @agoddard Thanks for giving it a try! Closing since we found out it was a Homebrew's bug that only occurred at v2.5.3.

[2020-10-10 00:26] #53 closed

[2020-10-10 00:32] nakabonne commented on #2
@brenol Sorry, I completely missed your message. termdash is capable of switching dynamically the layouts like [this](https://github.com/mum4k/termdash/blob/master/doc/images/termdashdemo_0_9_0.gif).

[2020-10-10 00:59] brenol commented on #2
@nakabonne no problem. I started my work on percentiles and I think I'll be able to open a PR this weekend :)

[2020-10-10 01:05] nakabonne commented on #2
That would help. I'm wondering if we can do that with Histogram which is commented out now.
https://github.com/nakabonne/ali/blob/ec2b6b4894b11507536cf56cf8ee3bf985482203/attacker/metrics.go#L14

[2020-10-10 01:26] brenol commented on #2
I'll take a look at histogram. However, vegeta.Metrics calculating quantiles is actually okay (??).

This is how it looks (wip):
![image](https://user-images.githubusercontent.com/7342697/95642217-74b2d980-0a7d-11eb-9c3f-e34ff2aafffb.png)

I'm not done yet, as I want to show legend like in this issue https://github.com/mum4k/termdash/pull/188

Just didn't get the time, but I'll get there soon and

[2020-10-10 04:12] nakabonne commented on #57
@jackey925 Hey, this is resolved by https://github.com/nakabonne/ali/pull/60. And you can gain the revised version from [v0.4.0](https://github.com/nakabonne/ali/releases/tag/v0.4.0)!

[2020-10-10 04:12] #57 closed

[2020-10-10 04:19] nakabonne opened #62 "Windows support"
@markruler has been worked on this to use [tcell](https://github.com/gdamore/tcell), but something is still missing (https://github.com/nakabonne/ali/pull/56).

[2020-10-10 08:57] nakabonne opened #63 "Support buckets option"
Make it capable of giving histogram buckets from comma-separated args.

Example:
[code]

Then it appears:
[code]

Suppose there's an SLA that says 95% of requests must be returned within 500ms. It would be helpful.

All we have to do:
Just pass the value to `Histgram.Buckets` when initializing Metrics.
https://github.com/nakabonne/ali/blob/08bbcd634c8dfec6245e3794e84581af1923370e/attacker/attacker

[2020-10-11 16:04] erikbos opened #65 "Add support for basic auth?"
Fun tool! It would be great if http basic auth would be supported via cli as well

[2020-10-12 00:11] nakabonne commented on #65
@erikbos Hi, thank you for your interest! You can use the `-H` option to set HTTP headers.
[code]

[2020-10-12 18:11] erikbos commented on #65
Indeed that works..  just saying that something like `-u user:passwd` would be nice to have. Yes, I am lazy :-)

[2020-10-12 19:24] brenol commented on #65
@erikbos you can also use this way (which also works on browsers!):

[code]

[2020-10-12 23:18] nakabonne commented on #65
@brenol Thanks. Yeah, I'll add a couple of examples for various kinds of use cases in the near future.

[2020-10-13 23:03] nakabonne commented on #62
Resolved by https://github.com/nakabonne/ali/pull/56

[2020-10-13 23:03] #62 closed

[2020-10-14 04:33] ur5us opened #67 "How does DNS resoluton work?"
I’d like to map a few domains/hosts to certain IP address, e.g. to load test a new server. I tried the following things:

- `docker run --rm -it --add-host example.com:10.0.0.1 nakabonne/ali ali example.com`
- `docker run --rm -it -v $(pwd)/hosts:/etc/hosts nakabonne/ali ali example.com` with a custom `hosts` file mapped into the container
- `docker run --rm -it --network=host nakabonne/ali ali ex

[2020-10-14 13:10] #65 closed

[2020-10-17 00:26] nakabonne commented on #67
@ur5us Hi, sorry for the delay. I'm planning to support the `--resolvers` option which specifies custom DNS resolver addresses to use for name resolution instead of the ones configured by the operating system. It may be resolved with it.

[2020-10-17 01:08] nakabonne commented on #63
It would be helpful to draw as a bar chart.

![image](https://user-images.githubusercontent.com/19730728/96325158-8fc6b000-1060-11eb-94c2-5324af5c2f21.png)

https://github.com/mum4k/termdash/blob/master/doc/images/barchartdemo.gif

[2020-10-18 04:59] nakabonne opened #69 "Data race in termdash"
## What's happened
Whenever we do:
- running with `-race` option
- Attack with `Enter`
- Quit with `Ctrl-C`

A data race has been detected as shown below:

[code]

reported at https://github.com/nakabonne/ali/pull/66#discussion_r507015270

[2020-10-18 05:05] nakabonne commented on #51
Closing since this can be resolved by using the percentiles chart.

[2020-10-18 05:05] #51 closed

[2020-10-18 05:10] brenol opened #70 "fix issue with percentiles chart navigation"
OK, so this one is actually weird.

From the point of view of `code`, the current implementation is correct.

From the point of view of usability, though, it's incorrect.

As the first chart in ali is `latencyChart`, pressing `L` the first time does not change to the next chart, which is percentiles.
This problem does not happen with backwards button (H), and is easily fixed with changing start po

[2020-10-18 05:40] nakabonne commented on #70
resolved by https://github.com/nakabonne/ali/pull/71

[2020-10-18 05:40] #70 closed

[2020-10-18 07:15] nakabonne opened #73 "Plot Bytes In and Bytes Out"
Just add a chart as same as latency, percentile.

[2020-10-18 07:15] nakabonne opened #74 "Plot Status Codes"

[2020-10-18 07:23] nakabonne commented on #2
Closing because I opened each issue individually; [label:new-chart](https://github.com/nakabonne/ali/labels/new-chart)

[2020-10-18 07:23] #2 closed

[2020-10-19 00:49] nakabonne opened #75 "Panic when running at high rate"
### What's happened

[code]
Then:
![image](https://user-images.githubusercontent.com/19730728/96390404-6ee09500-11ef-11eb-9e38-d573092f203e.png)

### Possible Causes
It's probably due to the time it takes to draw to all the charts. Maybe we should each spawn goroutine.
https://github.com/nakabonne/ali/blob/2711e42b6d038296c100fd2e8a0fdf0ce84996af/gui/drawer.go#L66-L84

[2020-10-19 01:28] yzwdroid commented on #75
can I give it a try?

[2020-10-19 01:57] nakabonne commented on #75
More stacktraces:
[code]

[2020-10-19 01:58] nakabonne commented on #75
@yzwdroid Yup, I hope you'll give it a try :D

[2020-10-19 02:48] nakabonne commented on #75
`LineChart.Series` seems to be the biggest bottleneck, so we need to make sure that this does not block the process.
https://github.com/nakabonne/ali/blob/2711e42b6d038296c100fd2e8a0fdf0ce84996af/gui/drawer.go#L59-L64
https://github.com/nakabonne/ali/blob/2711e42b6d038296c100fd2e8a0fdf0ce84996af/gui/drawer.go#L67-L69

For instance, it might be good to call this at `redrawInterval`.

[2020-10-19 10:17] nakabonne commented on #75
@yzwdroid I'm so sorry, but it's a critical issue so I've addressed it. It would be nice if you help me another time.

[2020-10-19 12:18] #75 closed

[2020-10-19 12:25] nakabonne opened #78 "Status codes are out of order"
**What's happened**
When more than one status code (and errors) is reported, the order is not constant and could be replaced at irregular intervals.
![order](https://user-images.githubusercontent.com/19730728/96450340-09bd8b80-1251-11eb-94e1-a4ca6bc405a4.gif)

**Cause**
Since the map is iterated to build a string.
https://github.com/nakabonne/ali/blob/1329145251ec1fa4187b58d3ea4e96a5aae76e3b/gui/d

[2020-10-29 00:27] nakabonne opened #80 "Progress gauge does not reach 100%"
Give 50000 as the rate:
[code]

Even though the attack is completed, the gauge is still at 97%:
![image](https://user-images.githubusercontent.com/19730728/97510669-96dab000-19c8-11eb-885a-ad74de02aef2.png)

[2020-10-29 02:15] nakabonne opened #81 "Panic when reading StatusCodes map while infinite attack"
While the likelihood of occurrence has decreased by merging https://github.com/nakabonne/ali/pull/77, panic still occurs.

Give as:
[code]

Then:
[code]

For some reason, there is panic here:
https://github.com/nakabonne/ali/blob/6abc270c4720848c07854c11c8486095f24c3723/gui/drawer.go#L218

[2020-10-29 11:55] erihanse opened #82 "Error when duration is set to 0s"
If I run
[code]
I get that duration must be greater than 0. But in the help text it says:
[code]
Is infinite attack supported or not?

[2020-10-29 14:22] shubham14bajpai commented on #78
Hi, @nakabonne is this issue being worked on? I would like to take this up.

[2020-10-29 23:07] nakabonne commented on #78
@shubham14bajpai Sure, I hope you'll work on!

[2020-10-31 01:47] nakabonne commented on #82
Hey, thank you for reporting! I've just fixed it (https://github.com/nakabonne/ali/pull/84) and will be available at the next release.

[2020-10-31 01:51] nakabonne commented on #78
Resolved by https://github.com/nakabonne/ali/pull/83

[2020-10-31 01:51] #78 closed

[2020-10-31 02:08] nakabonne commented on #82
@erihanse You can now available at [v0.5.3](https://github.com/nakabonne/ali/releases/tag/v0.5.3)!

[2020-10-31 02:08] #82 closed

[2020-11-01 13:43] shubham14bajpai commented on #80
I think the progress bar gets stuck because of the system network is not able to achieve the same rate as mentioned in the command. IMO the progress bar should depend on the `duration` alone instead of `(rate * duration)`. Right?

![Screenshot from 2020-11-01 19-08-48](https://user-images.githubusercontent.com/16064787/97804421-dc6fd500-1c75-11eb-9f32-4dba1d91bf0a.png)

[2020-11-02 00:51] nakabonne commented on #80
@shubham14bajpai That makes sense, perhaps that's why.

Agree with you! This also can solve the issue with stuck progress bar when running with `--rate=0`.

[2020-11-16 03:46] nakabonne commented on #67
@ur5us It may be an issue related to https://github.com/golang/go/issues/22846. Could you give it a try to do [this solution](https://github.com/golang/go/issues/22846#issuecomment-380809416)?

[2020-11-16 07:43] nakabonne commented on #67
@ur5us I'd say the root cause is the DNS cache. Clearing the cache and then running it should reference the domain in the hosts file.

For instance, on macOS:

[code]

[2020-11-16 08:01] nakabonne opened #85 "Support resolvers option"
It would be nice to have the option which specifies the list of custom DNS resolver addresses (comma-separated list). Maybe It works only on non Windows systems.

Example:
[code]

We can borrow around [here](https://github.com/tsenart/vegeta/blob/d73edf2bc2663d83848da2a97a8401a7ed1440bc/attack.go#L111-L117).

[2020-11-16 08:24] ur5us commented on #67
@nakabonne If you look at the 2nd example this is exactly what I did!

The only difference is that I used a custom hosts file (`$(pwd)/hosts`) instead of `/etc/hosts`. That custom hosts file simply contains one line with the custom entry I needed. Note, the whole issue only occurred with Docker. I haven’t tried running it on the host (without Docker). However, I did try modifying the host’s `/etc/

[2020-11-16 08:47] nakabonne commented on #67
@ur5us Your 3rd example (with modifying the host’s `/etc/hosts` file) was worked for me! What error does it emit? Your example looks to lack the `http://` scheme.

[code]

[2020-11-16 08:51] nakabonne commented on #67
And I was able to repro the issue about custom hosts file mapped into the container with `v $(pwd)/hosts:/etc/hosts`. While I don't get in detail, Docker looks to refer to the host's `/etc/hosts` file by default.

[2020-11-16 15:20] shubham14bajpai commented on #80
@nakabonne I was able to fix this but sometimes the progress bar finishes milliseconds before the other sections of the GUI. I am not sure if it is depended speed on the system or anything else.
https://github.com/nakabonne/ali/pull/86

[2020-11-16 23:56] nakabonne commented on #80
@shubham14bajpai Thank you! I'll take a look later.

[2020-11-22 06:11] nakabonne commented on #80
This has been solved by https://github.com/nakabonne/ali/pull/86.

[2020-11-22 06:11] #80 closed

[2020-12-05 07:31] #85 closed

[2020-12-16 02:37] luochenxi opened #88 "How to send `method=post` and `header="Content-Type:application/x-www-form-urlencoded"` request in ali?"

[2020-12-19 01:26] nakabonne commented on #88
@luochenxi You can do that with:

[code]

[2021-01-04 11:57] nakabonne commented on #31
I found it's enough to distribute `.deb` package.

[2021-01-04 11:57] #31 closed

[2021-01-04 11:59] nakabonne commented on #1
The current flags are enough. It would be enough to open a new issue when needed.

[2021-01-04 11:59] #1 closed

[2021-01-21 10:14] bamboo-cp3 opened #91 "How to post diffrent data?"
`ali -H "Accept: application/json" -H "Content-type: application/json" \
-m "POST" \
-b '{"name":"xxx"}'`

now i want to send some diffrent data peer request, What shall I do?

[2021-01-21 23:57] nakabonne commented on #91
@bamboo-cp3 Hi, tell me a little bit about what you want to do. Does it mean you want to send different content as a request body for each request?

[2021-03-10 09:52] hazcod opened #94 "Natively support specifying HTTP proxies"
I've had very mixed results for some reason specifying the environment variable `HTTP_PROXY` to Ali.
Not sure if this is related, but it would be nice to natively support supplying a proxy via an argument.

e.g. curl uses `-x`.

[2021-03-11 17:44] lordlycastle opened #95 "Scrolling Issue on Info Boxes at Bottom"
I ran some tests and the results are too large for the bottom boxes to appear. However the scrolling with mouse or up-down keys doesn't work. This is broken for all boxes at the bottom.
Is it a problem on the UI library? In that case I'll make an issue there if you can tell me which repo.

See below.
![SS 2021-03-11T18 40 21](https://user-images.githubusercontent.com/11729541/110830485-8d782300-82

[2021-03-11 18:04] lordlycastle opened #96 "Export Functionality"
Would love some export functionality of all the data that is collected.

Simplest export would be a "CSV" file where each line is latency & start time of each request in order they were made.

Eventually we could expand this to include other things about the request like the response size, start timestamps, number of request there were in parallel when you started it etc.

I don't want to export p

[2021-03-13 06:04] nakabonne commented on #95
@lordlycastle Thank you for your reporting! I couldn't reproduce it honestly, and it may be caused by [mum4k/termdash](https://github.com/mum4k/termdash). Could you report to them?

[2021-03-13 06:26] nakabonne commented on #96
@lordlycastle There you go. Good idea. Actually I'm looking into the export functionality. But I feel like it's too much to include a set of all requests and their timestamp. I'm guessing writing this summary to a file is enough:
![image](https://user-images.githubusercontent.com/19730728/111021462-c33f1800-840f-11eb-9428-e545f899e81a.png)

[2021-03-13 06:37] nakabonne commented on #94
@hazcod Hi, thank you for reporting. I'm aware that `net/http.Client` automatically switches to use the given proxy if you set the `HTTP_PROXY` environment variable, but I might be wrong. Could you tell me a little bit more about what mixed results you've had?

[2021-03-15 07:35] hazcod commented on #94
I'll close this for now since it seems to work reliably with a system environment variable, but not when I declare it in a process way:

[code]

[2021-03-15 07:35] #94 closed

[2021-03-15 07:51] nakabonne commented on #94
@hazcod Hmm, interesting. Okay, feel free to open it when needed 👍

[2021-03-15 11:31] Dani4kor opened #97 "How do I post multipart/form-data"
Hello there

I got this curl command which post some form-data

curl  -iL -X POST "http://127.0.0.1:4001/get_sep_data/" -H  "accept: application/json" -H  "Authorization: Bearer XXXXXXXX" -H  "Content-Type: multipart/form-data" -F "url_1=https://i.ytimg.com/vi/-TnUwv9i-4g/maxresdefault.jpg"

How do I do this with Ali?

Thank you

[2021-03-15 16:43] ghowardMSD commented on #96
I think it should be a time-stamped entry for each attack in a format that can be submitted to RRDTool.

[2021-03-16 11:17] solarisfire commented on #96
Or InfluxDB... Way more reliable than RRDTool, and can then be grafana'd super easily :-)

[2021-03-17 00:12] nakabonne commented on #97
@Dani4kor Hi. Could you try out it and let me know if this works as you expected?

[code]

body.txt
[code]

[2021-03-17 00:21] nakabonne commented on #96
@ghowardMSD Okay, you want to plot into external tools, right? Initially, the scope of this tool was just to plot the terminal, so I wasn't considering it. But looks interesting. Because I'm honestly not very familiar with that area, give me a moment to think about it.

[2021-03-17 15:35] Dani4kor commented on #97
thank you for advice, but its not helped :(

got this error "Did not find CR at end of boundary (17)" on server error

also I tried to change body.txt with

--aBoundaryString
Content-Disposition: form-data; name="url_1"

https://i.ytimg.com/vi/-TnUwv9i-4g/maxresdefault.jpg
--aBoundaryString--

and other variations, but nothing
still not work

Curl command still work

[2021-03-20 13:39] lordlycastle commented on #96
Supporting a propertary format may not be cool. Almost all tools can accept standard formats like CSV (most universal), JSON (*newer*). This is perfectly tabular data where CSV will be most intuitive.

@nakabonne  I believe the raw info would be best like the RAW photos. People can do their own processing. With tools like [`xsv`](https://github.com/BurntSushi/xsv)/`jq/fx` its simple.  Is it too di

[2021-03-20 13:46] lordlycastle commented on #95
@nakabonne Thanks for checking. I will double check it not my terminal emulator iTerm then make issue on termdash.

[2021-03-20 13:46] #95 closed

[2021-03-21 09:39] nakabonne commented on #96
@lordlycastle

Yes, I feel the same way 👍

Collecting raw data is a little bit tedious but isn't so difficult. The phrase "processed data" means a kind of like the request latency, right? If so, I'm guessing only processed data is enough like the [k6's export feature](https://k6.io/docs/results-visualization/csv). Also, as you mentioned, the HTTP status codes should be included, and input data a k

[2021-03-21 09:41] nakabonne commented on #96
I don't know anything that's better than unix_time.

[2021-03-25 00:26] lordlycastle commented on #96
Maybe we could do ISO format. https://en.wikipedia.org/wiki/ISO_8601

Would make it readable and it’s recognised by most tools easily.

[2021-03-25 00:35] lordlycastle commented on #96
Do we need url? Thought that was always fixed for a single run.

Yeah doesn’t matter if you include latency or stop time. One is enough.

[2021-03-28 05:32] nakabonne commented on #97
@Dani4kor Sorry for the delay. Apparently, seems like we need extra support for it.

[2021-03-28 06:12] nakabonne commented on #96
Looks good. I have no objection to the ISO format for now.

We don't need it In case that you want to handle only one target once. But for those who want to export results for multiple targets and save them into a single time-series DB, I feel like it would be nice if we have such input data.

I'm in the middle of thinking about this topic but I'm wondering our CSV should be convertible to [Influx

[2021-03-31 09:54] touei opened #98 "Does the place marked with red box mean QPS？"
![image](https://user-images.githubusercontent.com/4225595/113126242-04c22680-924a-11eb-826b-848de6e1289b.png)

[2021-03-31 10:03] #98 closed

[2021-04-09 20:10] iggy opened #99 "featreq: support for multiple URLs"
It would be nice to be able to specify a list of URLs to send traffic to.

Not sure how best to handle the division of URLs vs traffic, but for my personal needs a simple round-robin across the URLs would work. I.e. with 2 URLs: request1 -> url1, request2 -> url2, request3 -> url1, request4 -> url2, etc.

[2021-04-10 00:46] nakabonne commented on #99
@iggy Hey, thank you for your suggestion! Actually I'm looking into that, but at the same time I would definitely like to keep this tool as simple as possible. We need to think about other stuff, e.g. how to draw the charts, etc.

[2021-05-14 01:56] alwaysastudent commented on #96
Right now, I am not even able to copy the metrics from the GUI. Is there a way to report the summary to a file?

[2021-05-14 02:34] nakabonne commented on #96
@alwaysastudent Actually even such a simple summary doesn't exist. I'm looking to support it in the near future, kind of like: https://github.com/nakabonne/ali/issues/96#issuecomment-797876501

[2021-05-14 03:34] nakabonne commented on #21
Closing since this can be resolved by https://github.com/nakabonne/ali/issues/1. Feel free to re-open it if you have any other questions.

[2021-05-14 03:34] #21 closed

[2021-05-15 00:45] nakabonne commented on #96
Currently, I'm in the middle of working on implementing the time-series storage layer; once got finished I'm going to support the export functionality, so just a moment.

[2021-05-25 08:11] boggyhole opened #101 "Header values containing comma won't work"
First of all: Thanks heaps for this wonderful tool. I am absolutely loving it. Great work, thanks!

I just noticed headers are declared as `StringSliceVarP`:

`flagSet.StringSliceVarP(&c.headers, "header", "H", []string{}, "A request header to be sent. Can be used multiple times to send multiple headers.")`

Why allow comma separated values within the `--header` flag? I think for header values it'

[2021-05-25 08:51] nakabonne commented on #101
@boggyhole Hey, thank you for reporting the issue and such a kind word!
You're quite right. According to [RFC 2616](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2), we have to be possible to combine the multiple header fields into one pair. Using `StringArrayVarP` looks cool. Can you address it? I'm always open to any kinds of PRs!

[2021-05-26 07:13] boggyhole commented on #101
@nakabonne Yeah sure, I can add it and create PR. Will see when I get time to do it.

[2021-05-26 07:55] nakabonne commented on #101
Thank you!

[2021-05-27 07:10] boggyhole commented on #101
PR ready, see #102
Please note this is a breaking change and is not compatible with the following example call:

`ali --header 'key1:value1,key2:value2`

This would indeed set header `key1` to `value1,key2:value2`.

[2021-05-27 07:41] nakabonne commented on #101
@boggyhole Hey, thank you for addressing! It is. I will announce that breaking change.

Closing since this is resolved by https://github.com/nakabonne/ali/pull/102

[2021-05-27 07:41] #101 closed

[2021-05-27 15:06] boggyhole opened #103 "feat: Add some tls options"
To i.e. allow mutual tls, adding root certificates and to allow for tls verification

[2021-05-27 15:07] boggyhole commented on #103
see #104

[2021-05-29 06:35] #103 closed

[2021-05-29 07:02] nakabonne commented on #103
@boggyhole A new version [v0.6.1](https://github.com/nakabonne/ali/releases/tag/v0.6.1) got released including this patch. Thank you!

[2021-06-01 01:30] nakabonne commented on #91
Close for now. Feel free to re-open if you're still facing this issue.

[2021-06-01 01:30] #91 closed

[2021-06-01 01:32] #35 closed

[2021-06-01 01:32] #39 closed

[2021-06-01 01:32] nakabonne commented on #39
Now this is supported by https://github.com/nakabonne/ali/pull/106

[2021-06-01 01:33] nakabonne commented on #35
The next release includes `--redraw-interval`. Please use it to prevent CPU from high usage.

[2021-06-02 09:33] boggyhole commented on #103
@nakabonne Great, thanks for the quick response on this!

[2021-06-02 09:45] nakabonne commented on #103
@boggyhole Thank YOU for your contribution!

[2021-08-31 18:27] fedorlitau opened #110 "panic: runtime error: slice bounds out of range [6:1]"
This bug occurs some times more or less randomly producing the following message:

[code]

I have opened a PR in the underlying library to fix it - see nakabonne/tstorage#30

[2021-08-31 18:34] fedorlitau opened #111 "fatal error: concurrent map iteration and map write"
A very seldomly occurring bug (race condition):

![image](https://user-images.githubusercontent.com/83718336/131556805-cfe9304f-adc6-4092-88e7-c23c8f3ce234.png)

The code in `drawer.go:202` looks like:

![image](https://user-images.githubusercontent.com/83718336/131556902-1362611e-66a4-420f-8e09-19c68bab12dd.png)

`m.StatusCodes` is coming from the [tsenart/vegeta](https://github.com/tsenart/veget

[2021-09-01 07:53] fedorlitau commented on #111
The workaround in PR #112 seems to help:

![image](https://user-images.githubusercontent.com/83718336/131633750-d43a65eb-487f-4385-97d4-483b75e69362.png)

ali now running for 40 hours -- before the error happened after a couple of minutes for me

[2021-09-06 06:20] nakabonne commented on #111
@fedorlitau Good catch! Let me take a look from now.

[2021-09-06 13:04] #110 closed

[2021-09-14 08:49] #111 closed

[2021-11-02 04:17] alexQi opened #118 "homebrew installed ali has an warning"
Warning: Calling bottle :unneeded is deprecated! There is no replacement.
Please report this issue to the nakabonne/ali tap (not Homebrew/brew or Homebrew/core):
  /opt/homebrew/Library/Taps/nakabonne/homebrew-ali/ali.rb:9

nakabonne/ali/ali: stable 0.7.3
Generate HTTP load and plot the results in real-time
https://github.com/nakabonne/ali
/opt/homebrew/Cellar/ali/0.7.3 (5 files, 7.6MB) *
  Built

[2021-11-02 04:26] #118 closed

[2021-12-14 10:02] woodgear opened #120 "is there way to show qps chart?"

[2021-12-15 05:00] nakabonne commented on #120
@woodgear
No, because it's supposed to be the same every time.

If you run without setting the rate, `ali` issues requests at a rate of 50 times per second.

[code]

You can change it with:

[code]

[2022-02-22 15:58] Kaiser-DMr opened #121 "Why use command after display ：-bash: ali: command not found"
![Uploading 截屏2022-02-22 下午11.57.22.png…]()
在docker。The installation is complete.

[2022-03-03 14:07] nakabonne commented on #121
Sorry for the delay. You installed via Docker, right? In that case, it should work. Can you show me the detailed log?

If you installed via Go, the instruction on the README was wrong and fixed just now, so re-try it.

[2022-03-05 17:43] imraan-go opened #122 "Graph does not show all requests"
When the request number is very big, Ali shows graph of partial data. See the

<img width="1527" alt="Screen Shot 2022-03-05 at 9 36 11 AM" src="https://user-images.githubusercontent.com/66571123/156894245-c32fce76-30ab-4b53-b445-7f5a5c282876.png">

Also, how to make ali wait for requests to finish after the duration? Seems like ali just exits as soon as the duration ends.

[2022-03-06 02:44] nakabonne commented on #122
@imraan-go Ali shows the result last 30s by default. You can change it with the `--query-range` option.

[2022-03-06 09:22] imraan-go commented on #122
Okay. Is there any reason for defaulting it to 30s? Also can you explain what the "Wait" means here? does it indicate how long the program wait after the last request?

[2022-03-08 01:13] imraan-go opened #123 "Generate dynamic URL"
Is there any way to generate random values in url parameters? Or in the POST request body?

[2022-03-20 04:41] nakabonne commented on #123
@imraan-go Hi, sorry for the delay. Currently, you can't do that.

[2022-03-31 22:24] raff commented on #99
Vegeta seems to support a formatted body that can contain multiple URLs/methods/body (you have to create a different type of targeter instead of using NewStaticTargeter with a single request)

It should be pretty easy to  add an option that instruct the attacker to create the different type of targeter.
Would you accept a pull request for that ?

[2022-07-17 12:41] bytebeast opened #125 "Add Step increase feature"
A way to give it a Step Period and Step Rate. Example:

`--step-period 30m  --step-rate-increase 1000  --max-requests 20000
`

So you can increase the rate every 30 minutes by 1000 requests. Metrics can settle during the step period and the slow increase of requests can let you know the tipping point of you application. The max requests can have no ceiling by default.

[2022-11-25 06:50] fcwys opened #126 "The layout on Windows platform is displayed in disorder"
The layout on Windows platform is displayed in disorder